.container {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.box {
  background-color: lightgray;
  height: 30px;
  width: 30px;
}

.bigFont {
  font-size: 50px;
}

body {
  background-color: rgb(126, 126, 126);
}

header {
  background-color: darkslategray;
  height: 120px;
  width: fit-content;
  font-size: 30px;
  color: silver;
  text-decoration: underline;
  text-align: center;
}

nav {
  background-color: slategray;
  height: 50px;
  width: fit-content;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

main {
  background-color: palevioletred;
  height: 600px;
  width: fit-content;
}

footer {
  background-color: darkslategray;
  height: 120px;
  width: fit-content;
}
